<h2><%= @title %></h2>

<div class="table-responsive-md">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Login Count</th>
            <th>Last Login</th>
            <th>Created</th>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><%= user.sign_in_count %></td>
                <td><%= user.last_sign_in_at&.strftime(TIMESTAMP_FORMAT) %></td>
                <td><%= user.created_at.strftime(TIMESTAMP_FORMAT) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>