<% # partial to display properties for a single character, passed in character and character_icon_loc %>

  <td class="col text-center">
      <%= link_to character.name, character_path(character) %>
  </td>
  <td class="col text-center character_name" id="<%= character.charclass.downcase %>" >
      <%= image_tag(CLASS_ICON_PATH + "class_#{character.charclass.downcase}.jpg", size: "25") %>
      <%= character.charclass.titleize %>
  </td>
  <td class="col text-center">
      <% if character.is_tank? %>
          <%= image_tag(CLASS_ROLE_ICON_PATH + "class_role_tank.png") %>
      <% end %>
  </td>
  <td class="col text-center">
      <% if character.is_dps? %>
          <%= image_tag(CLASS_ROLE_ICON_PATH + "class_role_damage.png") %>
      <% end %>
  </td>
  <td class="col text-center">
      <% if character.is_healer? %>
          <%= image_tag(CLASS_ROLE_ICON_PATH + "class_role_healer.png") %>
      <% end %>
  </td>
  <td class="col text-center">
      <%= character.main_role.titleize %>
  </td>
    
