<nav class="navbar navbar-expand-lg navbar-light momit_blue_bg fixed-top">
    <%= link_to image_tag("/assets/logos/momit_full_logo_small.png", class: 'navbar-brand d-none d-md-inline-block'), root_path %>
    <%= link_to image_tag("/assets/logos/momit_full_logo_mobile.png", class: 'navbar-brand d-sm-inline-block d-md-none'), root_path %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Calendar', root_path, class: "nav-link #{active_link(root_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Forum', thredded_path, class: "nav-link #{active_link(thredded_path)}" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to 'Resources', root_path, class: 'dropdown-toggle nav-link', id: 'navbarDropdown', data: {toggle: 'dropdown'}, aria: {haspopup: "true", expanded: "false"} %>
        <div class="dropdown-menu momit_blue_bg momit_neutral_fg" aria-labelledby="navbarDropdown">
            <%= link_to 'Code of Conduct', code_of_conduct_path, class: "dropdown-item #{active_link(code_of_conduct_path)}" %>
            <%= link_to 'Guild Policies', guild_policies_path, class: "dropdown-item #{active_link(guild_policies_path)}" %>
            <%= link_to 'Warcraft Logs', WARCRAFT_LOGS_PATH, class: "dropdown-item #{active_link(WARCRAFT_LOGS_PATH)}" %>
        </div>
      </li>
      <% if current_user&.officer? %>
      <li class="nav-item dropdown">
        <%= link_to 'Admin', '#', class: 'dropdown-toggle nav-link', id: 'navbarDropdownAdmin', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} %>
        <div class="dropdown-menu momit_blue_bg momit_neutral_fg" aria-labelledby="navbarDropdownAdmin">
          <%= link_to 'Manage Users', users_path, class: "dropdown-item #{active_link(users_path)}" %>
        </div>
      </li>
      <% end %>
    </ul>
    <li class="nav-item btn-group ml-auto login-links">
        <% if user_signed_in? %>
            <%= link_to "Logged in as <span id='logged_in_username'>#{current_user.username}</span>".html_safe, '#', class: 'dropdown-toggle nav-link',
                  id: 'navbarDropdownUser', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} %>
            <div class="dropdown-menu momit_blue_bg momit_neutral_fg" id="login_dropdown" aria-labelledby="navbarDropdownUser">
              <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item #{active_link(edit_user_registration_path)}" %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
        <% else %>
            <%= link_to 'Login', new_user_session_path, class: "nav-link #{active_link(new_user_session_path)}", id: 'login_link' %>
            <%= link_to 'Register', new_user_registration_path, class: "nav-link #{active_link(new_user_registration_path)}" %>
        <% end %>
    </li>
  </div>
</nav>